<section class="home-slider owl-carousel">

  <div class="slider-item" style="background-image: url(./../../assets/images/mike-kenneally-44879-unsplash.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center">
          <h1 class="mb-3 mt-5 bread">Регистрация</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Главная</a></span> <span>Регистрация</span></p>
        </div>

      </div>
    </div>
  </div>
</section>


<div class="card mt-5" style="margin:auto;width: 600px;" *ngIf="!loginDisplay">
    <div class="card-body" style="color:#000">
                             <fieldset>
                      <div class="row">
                          <div class="col-md-12" style="padding-bottom: 5px;">
                              <div id="legend">
                                  <legend class="">Регистрация</legend>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="padding-bottom: 15px;">
                              <input type="text" id="firstname" name="firstname" placeholder="Имя" [(ngModel)]="first_name" class="input-xlarge" style="width: 100%">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="padding-bottom: 15px;">
                              <input type="text" id="lastname" name="lastname" placeholder="Фамилия" [(ngModel)]="last_name" class="input-xlarge" style="width: 100%">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="padding-bottom: 15px;">
                              <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="email" class="input-xlarge" style="width: 100%">
                          </div>    
                      </div>
                       <div class="row">
                          <div class="col-md-12" style="padding-bottom: 15px;">
                              <input type="text" id="username" name="username" placeholder="Логин" [(ngModel)]="username" class="input-xlarge" style="width: 100%">
                          </div>    
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="padding-bottom: 15px;">
                              <input type="text" id="password" name="password" placeholder="Пароль" [(ngModel)]="password" class="input-xlarge" style="width: 100%">
                          </div>    
                      </div>
                      
                      <div class="row">
                           <div class="form-group">
                  <input type="submit" value="Зарегистрироваться" (click)="create_user(first_name, last_name, email, username, password)" class="btn btn-dark py-3 px-5" style="margin-left: 15px;">
                </div>
                      </div>    
                  </fieldset>
    </div>
  </div>

<!-- <div class="card mt-5" style="margin:auto;width: 600px;" *ngIf="!loginDisplay">
  <div class="card-body" style="color:#000">
    <h5 class="card-title">Registration</h5>
    <div class="form-group">
      <label for="firstname">Имя</label>
      <input style="color:#000" type="text" id="firstname" placeholder="Имя" [(ngModel)]="first_name">
    </div>
    <div class="form-group">
      <label for="lastname">Фамилия</label>
      <input style="color:#000" type="text" id="lastname" placeholder="Фамилия" [(ngModel)]="last_name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input style="color:#000" type="text" id="email" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="username">Ник</label>
      <input style="color:#000" type="text" id="username" placeholder="Ник" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input style="color: #000;" type="password" id="password" placeholder="Пароль" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="create_user(first_name, last_name, email, username, password)">Register</button>
  </div>
</div> -->