<section class="home-slider owl-carousel">

  <div class="slider-item" style="background-image: url(./../../assets/images/mike-kenneally-286509-unsplash.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ">
          <h1 class="mb-3 mt-5 bread">Меню</h1>
          <p class="breadcrumbs"><span class="mr-2"><a routerLink="/main">Главная</a></span> <span>Меню</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro" style="width: 100%; margin-top: 0px;">
  <div class="container-wrap">
    <div class="wrap d-md-flex align-items-xl-end">
      <div class="info" style="width: 100%;">
        <div class="row no-gutters" style="padding-top: 10px;">
          <div class="col-md-4 d-flex ">
            <div class="icon"><span class="icon icon-phone"></span></div>
            <div class="text">
              <h3>8 (029) 380 25 68</h3>
            </div>
          </div>
          <div class="col-md-4 d-flex ">
            <div class="icon"><span class="icon-my_location"></span></div>
            <div class="text">
              <h3>Минск, Золотая Горка, 8</h3>
            </div>
          </div>
          <div class="col-md-4 d-flex ">
            <div class="icon"><span class="icon-clock-o"></span></div>
            <div class="text">
              <h3>Понедельник-Воскресенье</h3>
              <p>7:00 - 23:00</p>
            </div>
          </div>
        </div>
        </div>

        <div class="col-md-4 d-flex " style="background-color: #130f0f;">
          <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>

      </div>
      
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 pb-3" *ngFor="let key of objectKeys(menus)">
        <h3 class="mb-5 heading-pricing ">{{key}}</h3>
        <div class="pricing-entry d-flex" *ngFor="let product of menus[key]">
         <div class="img" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}"></div>
         <!-- <div class="img" [src]={{produt.image}}   style="background-image: url(http://zhdanova.by:8000/media/latte-420x315_Ypg2B0f.jpg);"></div> -->
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{product.name}}</span></h3>
              <span class="price">{{product.price}} BYN</span>
            </div>
            <div class="d-block">
              <p>{{product.description}}</p>
            </div>
          </div>
        </div>
    </div> 
    </div>
  </div>
</section>

<section class="ftco-menu mb-5 pb-5" style="padding-top: 0px;">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center">
        <span class="subheading">aCoffee</span>
        <h2 class="mb-4">Мы готовы принять заказы</h2>
        <p>Учитывая ускоряющийся ритм жизни современного человека предлагаем Вам воспользоваться возможностью сделать заказ онлайн. В этом случае Вы будете уверены, что любимый десерт dв течение дня будет в наличии при посещении нашей кофейни. Мы бесконечно любим своих гостей и заботимся о Вашем комфорте каждый день.</p>
        <p><a routerLink="/shop" class="btn btn-primary p-3 px-xl-4 py-xl-3">Сделать заказ</a></p>
      </div>
    </div>
  </div>
</section>