<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url(./../../assets/images/mike-kenneally-286509-unsplash.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ">
          <h1 class="mb-3 mt-5 bread">Меню</h1>
          <p class="breadcrumbs"><span class="mr-2"><a routerLink="/main">Главная</a></span> <span>Заказ</span></p>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- <div class="card mt-5" style="margin:auto;width: 600px;" *ngIf="!loginDisplay">
          <div class="card-body" style="color:#000">
                         <fieldset>
                  <div class="row">
                      <div class="col-md-12" style="padding-bottom: 5px;">
                          <div id="legend">
                              <legend class="">Вход</legend>
                          </div>
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-md-12" style="padding-bottom: 15px;">
                          <input type="text" id="username" name="username" placeholder="Логин" [(ngModel)]="username" class="input-xlarge" style="width: 100%">
                      </div>    
                  </div>
                  <div class="row">
                      <div class="col-md-12" style="padding-bottom: 15px;">
                          <input type="password" id="password" name="password" placeholder="Пароль" [(ngModel)]="password" class="input-xlarge" style="width: 100%">
                      </div>    
                  </div>
                  
                  <div class="row">
                       <div class="form-group">
              <input type="submit" value="Войти" (click)="login(username, password)" class="btn btn-dark py-3 px-5" style="margin-left: 15px;">
            </div>
                  </div>    
              </fieldset>
</div>
</div> -->
<div class="row" *ngIf="!loginDisplay">
  <div class="col-md-4 col-sm-1"></div>
    <div class="col-md-4 col-sm-10" >
      <form action="#" class="contact-form">
        <div class="form-group" >
          <input style="padding-left: 10px" type="text" class="form-control" name="username" placeholder="Логин" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <input style="padding-left: 10px" type="password" class="form-control" name="password" placeholder="Пароль" [(ngModel)]="password">
        </div>
        <div class="form-group" style="text-align: center">
          <input type="submit" value="Отправить" (click)="login(username, password)" class="btn btn-primary py-3 px-5">
        </div>
      </form>
    </div>
  <div class="col-md-4 col-sm-1"></div>
</div>



<section class="ftco-section ftco-cart" *ngIf="loginDisplay" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-list"  style="overflow-x: auto">

            <!-- <table class="table"  *ngIf="ordered.length > 0">
                <thead class="thead-primary">
                  <tr class="text-center">
                    <th>&nbsp;</th>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Всего</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" *ngFor="let product of ordered">
                    <td class="image-prod"><div class="img" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}"></div></td>
                    
                    <td class="product-name">
                      <h3>{{product.name}}</h3>
                      <p>{{product.description}}</p>
                    </td>
                    
                    <td class="price">{{product.price}} BYN</td>
                    
                    <td class="price">
                        {{product.quantity}}
                    </td>
                    <td class="total">{{product.price * product.quantity | number:'1.0-2'}} BYN</td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-end"  *ngIf="ordered.length > 0">
                  <div class="col col-lg-3 col-md-6 mt-5 cart-wrap">
                    <div class="cart-total mb-3">
                      <p class="d-flex total-price">
                        <span>Всего</span>
                        <span>{{totalSumOrdered | number:'1.0-2'}} BYN</span>
                      </p>
                    </div>
                  </div>
                </div> -->
              <!-- </div> -->


          <table class="table" *ngIf="order.length > 0">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Всего</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let product of order">
                <td class="product-remove"><a [routerLink]="" id="{{product.id}}" (click)="deleteProductOrder(product.id)"><span class="icon-close"></span></a></td>
                <td class="image-prod"><div class="img" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}"></div></td>
                
                <td class="product-name">
                  <h3>{{product.name}}</h3>
                  <p>{{product.description}}</p>
                </td>
                
                <td class="price">{{product.price}} BYN</td>
                
                <td class="quantity">
                  <div class="input-group mb-3">
                     <input type="text" name="quantity" id="product.id" (change)="changeQuantity($event, product.id)" [(ngModel)]="product.quantity" class="quantity form-control input-number" value={{product.quantity}} min="1" max="100">
                  </div>
                </td>
                
                <td class="total">{{product.price * product.quantity | number:'1.0-2'}} BYN</td>
              </tr><!-- END TR-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end" *ngIf="order.length > 0">
      <div class="col col-lg-3 col-md-6 mt-5 cart-wrap">
        <div class="cart-total mb-3">
          <h3>Предчек</h3>
          <p class="d-flex">
            <span>Товары</span>
            <span>{{totalSum | number:'1.0-2'}} BYN</span>
          </p>
          <p class="d-flex">
            <span>Доставка</span>
            <span>0</span>
          </p>
          <p class="d-flex">
            <span>Скидка</span>
            <span>0</span>
          </p>
          <hr>
          <p class="d-flex total-price">
            <span>Всего</span>
            <span>{{totalSum | number:'1.0-2'}} BYN</span>
          </p>
        </div>
        <p class="text-center"><a (click)="createOrder()" class="btn btn-primary py-3 px-4">Оформить заказ</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center">
        <span class="subheading">aCoffee</span>
        <h2 class="mb-4">Хотите скорректировать заказ?:) Нет проблем!</h2>
        <p><a [routerLink]="" (click)="logout()" class="btn btn-primary p-3 px-xl-4 py-xl-3">Выйти</a> <a routerLink="/menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Смотреть меню</a></p>
      </div>
    </div>
  </div>
</section>
